/* Hunter-- Styling for article cards */
.friend-article-card{
    font-style: italic;
    margin: 2em;
    border: 1px solid #afa37c;
    background-color: cornsilk;
}

.article-card {
    margin: 2em;
    border: 1px solid cornsilk;
    background-color:  #afa37c;
    color: black;
}

.article-btn {
    background-color: #BC4123;
    color: whitesmoke;
}


.articleFormTitle {
color: whitesmoke;
}

.form-group {
    color: whitesmoke;
}

.editForm-group {
    color: whitesmoke;
}

.editFormTitle {
    color: whitesmoke;
}

.message {
    color: whitesmoke;
}