.event-card {
    font-style: italic;
    margin: 2em;
    border: 1px solid black;
    background-color: cornsilk;
}

.user-event-card {
    margin: 2em;
    border: 1px solid cornsilk;
    background-color:  #afa37c;
    color: black
}

body {
    background-color:  #213555;
}

.btn {
    background-color: #BC4123;
    color: whitesmoke;
}

.nextevent {
    margin: 2em;
    font-weight: bold;
    background-color: lightsteelblue;
    border: 1px solid black;
}

.dailyweather {
    text-align: center;
    position: top;
    margin: 2em;
    border: 1px solid black;
}

.eventform-title {
    color: whitesmoke;
}

.eventform-group {
    color: whitesmoke;
}

.dailyweather {
    color: whitesmoke;
}